/* Seletor body */
body{
    /* Cor de fundo da página */
    background-color: lightgray;
    /* Sem espaço nos quatro cantos */
    margin: 0;
}
/* Classe grid */
.grid{
    display: grid;
    grid-template-areas: 
    "header header header header header"
    "sidebar sidebar sidebar sidebar sidebar"
    "main main main main main";
    /* Cria 5 colunas com 1/5 do todo */
    grid-template-columns: repeat(5, 1fr);
    /* Cria 5 linhas.
     Minmax determina um valor máximo e um valor mínimo, 
    no exemplo abaixo a linha possui 100 de valor mínimo e valor máximo automático */
    grid-template-rows: repeat(5, minmax(30px,auto));
}

/* Seletor header */
header{
    /* Alinha os itens no centro */
    align-items: center;
    display: flex;
    grid-area: header;
    justify-content: space-between;
    padding: 0 10px;
}

/* Seletor multiplo header e nav.
O header é pai da nav */
header nav{
    display: none;
}
/* Seleciona o primeiro a que está dentro do nav filho do header */
header nav a:nth-child(1){
    font-size: 14pt;
    color: green;
}
/* Seletor multiplo.
A é filho do nav que é filho do header */
header nav a{
    text-decoration: none;
    color: blue;
}

/*  Seletor main */
main{
    grid-area: main;
}

/* Classe menu-hamburguer */
.menu-hamburguer{
    /* Alinha os itens no centro */
    align-items: center;
    cursor: pointer;
    display: flex;
    /*flex-direction Alinha um elemento em cima do outro */
    flex-direction: column;
    justify-content: center;
    width: 30px;
}

.sidebar{
    background-color: white;
    grid-area: sidebar;
    padding: 30px 0;
}

.sidebar nav{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.sidebar nav a{
    color: black;
    text-decoration: none;
}

/*  Classe traço */
.traco{
    /* Define a cor como preto */
    background-color: black;
    /* Arredonda os cantos */
    border-radius: 50px;
    /* Altura */
    height: 3px;
    /* Margem com uma distancia de 3 pixels na parte inferior e superior da página
    e uma distancia de 0 pixel aos lados da página */
    margin: 3px 0;
    /* Largura */
    width: 100%;
}

/* Query media: Essa parte do código só irá ser executada quando a condição for atendida,
no exemplo abaixo quando a largura for superior a 900 pixels o menu de hamburger irá desaparecer
e a nav irá aparecer  */
/* @media(min-width:900px){
    
    header nav {
        display: block;
    }
    
    .menu-hamburguer{
        display: none;
    }

} */

/* Breakpoint para tablet */
@media(min-width:768px){
    
    header nav {
        display: flex;
    }
    
    .menu-hamburguer{
        display: none;
    }

    

}

/*  Brealpoint para notebooks pequenos */
@media(min-width:992px){
    .grid{
        grid-template-areas: 
        "header header header header header"
        "main main main . sidebar"
        "main main main . sidebar";
    
    }

    .sidebar{
        border-radius: 25px;
        box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.1);
        margin: 5px;
    }

    .sidebar nav{
        flex-direction: column;
        justify-content: center;
    }
}

/* Breakpoint para notebooks grandes e desktops */
@media(min-width:1200px){
    
    main{
        margin: auto;   /* Coloca a mesma margem em todos os lados, por conta disso os elementos ficam centralizados na página*/
        max-width: 1200px;  /* Limita a largura da página a 1200 pixels */
    }
}